NODE_ENV=development
PORT=8000
BASE_URL=http://127.0.0.1:8000

DB_URI=mongodb+srv://<user>:<password>@<cluster>/<db>?retryWrites=true&w=majority

JWT_SECRET_KEY=change-me
JWT_EXPIRES_IN=90d

EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

OPENROUTER_API_KEY=
